@model IEnumerable<ASP_MVCProject_NguyenVuongThienPhuc.movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imageLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.categoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        <img alt="Image of @item.movieName" src="@item.imageLink" height="200"/>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.movieName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.publishDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.length)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.category.categoryName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.movieID }) |
        @Html.ActionLink("Details", "Details", new { id = item.movieID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.movieID })
    </td>
</tr>
}

</table>
